Repository kiesproject/WhiteboardFormatter, pull requests merged in 2020-01, with the labels that each got.

#14 Permission
  WhiteboardFormatter/app/build.gradle
  WhiteboardFormatter/app/src/main/AndroidManifest.xml
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/PermissionCheckActivity.kt
  WhiteboardFormatter/app/src/main/res/layout/activity_permission_check.xml
  WhiteboardFormatter/app/src/main/res/values/strings.xml
Labels: 山本

#41 Text preview機能の追加
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/PermissionCheckActivity.kt
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/data/repository/Repository.kt
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/edit_page/EditFragment.kt
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/list_page/ListFragment.kt
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/save_page/SaveFragment.kt
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/save_page/SaveViewModel.kt
  WhiteboardFormatter/app/src/main/res/layout/fragment_list.xml
  WhiteboardFormatter/app/src/main/res/layout/fragment_save.xml
  WhiteboardFormatter/app/src/main/res/navigation/nav_graph.xml
  WhiteboardFormatter/app/src/main/res/values/styles.xml
Labels: Save, 鈴木

#42 Markdown preview機能を追加しました。
  WhiteboardFormatter/app/build.gradle
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/PermissionCheckActivity.kt
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/list_page/ListFragment.kt
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/save_page/SaveFragment.kt
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/save_page/SaveViewModel.kt
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/util/Extension.kt
  WhiteboardFormatter/app/src/main/res/layout/fragment_save.xml
  WhiteboardFormatter/build.gradle
Labels: Save, 鈴木

#44 Navigation safeArgs
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/data/model/TextForEdit.kt
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/data/model/TextForPreview.kt
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/data/repository/Repository.kt
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/edit_page/EditFragment.kt
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/save_page/SaveFragment.kt
  WhiteboardFormatter/app/src/main/res/layout/fragment_save.xml
  WhiteboardFormatter/app/src/main/res/navigation/nav_graph.xml
Labels: bug

#35 編集画面
  WhiteboardFormatter/.idea/kotlinc.xml
  WhiteboardFormatter/app/build.gradle
  WhiteboardFormatter/app/src/main/AndroidManifest.xml
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/MainActivity.kt
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/data/dao/TableDao.kt
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/edit_page/EditFragment.kt
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/edit_page/EditViewModel.kt
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/list_page/ListFragment.kt
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/save_page/SaveFragment.kt
  WhiteboardFormatter/app/src/main/res/layout/activity_main.xml
  WhiteboardFormatter/app/src/main/res/layout/fragment_edit.xml
  WhiteboardFormatter/app/src/main/res/navigation/nav_graph.xml
Labels: 林, 編集画面

#55 文字認識をした後にデータ整形して値渡し
  WhiteboardFormatter/app/build.gradle
  WhiteboardFormatter/app/src/main/AndroidManifest.xml
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/list_page/ListFragment.kt
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/list_page/ListViewModel.kt
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/save_page/SaveFragment.kt
Labels: 写真, 鈴木

#58 mdテキスト作成時のバグを修正
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/save_page/SaveViewModel.kt
Labels: Save, bug, 鈴木

#46 db保存のためにeditDataを一時的に確保
  WhiteboardFormatter/app/src/main/java/com/example/whiteboardformatter/save_page/SaveViewModel.kt
Labels: Save, bug
